<nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Article maker</a>

    <div class="navbar-nav mr-auto">
        
            <a href="http://localhost:8080/admin/categories" class="nav-item nav-link ">categorias</a>
            <a href="/admin/articles/new" class="nav-item nav-link">artigos</a>
    </div>
</nav>